<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO"><!-- Ein Testkommmentar -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.SSS} %X{sessionId} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="de.chandre" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.springframework.boot" level="info" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.springframework.web" level="info" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.springframework.core" level="info" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.springframework.scheduling" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Logger name="org.quartz" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>